li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0;
}
.time {
  font: 500 10px 'Roboto';
  margin-right: 20px;
}

.media-icon {
  width: 20px;
}
.title {
  font: 500 10px 'Roboto';
  margin: 0 10px;
}
.delete-icon {
  width: 15px;
}
li > div {
  display: flex;
  align-items: center;
}

p {
  font: 300 10px 'Roboto';
}

button {
  background-color: white;
  border: none;
}
