li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px rgb(234, 234, 234);
  padding: 5px;
}
.time {
  font: 500 8px 'Roboto';
  width: 35px;
}

.media-icon {
  width: 20px;
  margin: 0 5px;
}
.title {
  font: 500 10px 'Roboto';
  width: 100px;
}
.delete-icon {
  width: 15px;
}
li > div {
  display: flex;
  align-items: center;
}

.domine {
  font: 300 10px 'Roboto';
}

button {
  background-color: white;
  border: none;
}

@media screen and (min-width: 600px) {
  .time {
    width: 45px;
    font: 500 10px 'Roboto';
  }
  .media-icon {
    width: 35px;
    margin: 0 12px;
  }
  .title {
    width: 250px;
    font-size: 12px;
  }
}
